# version: '1.0.0'

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    shm_size: 4g
    cpu_count: 4
    user: root
    volumes:
      - ./.pgdata/database:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=nationPulseDB
      - PGDATA=/var/lib/postgresql/data/db-files/
    expose:
      - 5432
    ports:
      - "5432:5432"
    networks:
      - nationPulseDB

  redis:
    image: redis:7
    container_name: redis-cache
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    restart: unless-stopped
    networks:
      - nationPulseDB
networks:
  nationPulseDB:
